<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tong.dao.UserMapper">

    <select id="queryUserInfo" parameterType="string" resultType="User">
        select pui_user_id userId,
               pui_user_name userName,
               pui_user_pwd accountPwd,
               pui_user_mobile userMobile,
               pui_user_stt userStt,
               pui_user_role userRole
        from pub_user_info where pui_user_mobile = #{userMobile}
    </select>
</mapper>