<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tong.dao.UserMapper">

    <select id="queryUserInfo" parameterType="string" resultType="User">
        select pui_user_id,
               pui_user_name,
               pui_user_pwd,
               pui_user_mobile,
               pui_user_stt,
               pui_user_role
        from pub_user_info where pui_user_mobile = #{userMobile}
    </select>
</mapper>